@use "scss/Variables" as *;
@use "scss/Breakpoints" as *;

#root {
  user-select: none;
  color: $text-primary-color;
}

h1 {
  margin-bottom: 1rem;

  font-size: 3rem;
  line-height: 110%;
  color: $primary-color-dark;
}

h2 {
  margin-bottom: 1rem;

  font-size: 2.5rem;
  font-weight: 500;
  line-height: 110%;
  color: $secondary-color;
}

.container {
  height: 100%;
  @include up-lg {
    background-color: rgba($primary-color-light, 0.2);
    background-image: linear-gradient(0deg, rgba($primary-color-light, 0.1), white), url("assets/background.png");
    background-size: cover;
    background-position: bottom;
  }
}

.content {
  height: 100%;
  @include up-lg {
    display: flex;
  }
}

